

.wrapper {
	position: relative;
	padding-top: 70px;
	min-height: 100vh;
	padding-bottom: 70px;
	overflow: hidden;
}

.title {
	text-transform: uppercase;
	font-size: 48px;
	text-align: center;
	margin-bottom: 60px;
}

.about {
	max-width: 50%;
}

.text {
	text-align: left;
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 1.5;
	color: var(--primary-color-light);

	&:last-child {
		margin: 0;
	}
}

.text_name {
	position: absolute;
	top: 20%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%) rotate(-25deg);
	font-family: var(--primary-font);
	font-size: 202px;
	font-weight: 400;
	opacity: 0.1;
	filter: blur(3px);
	text-shadow: 0px 3px 5px rgba(231, 180, 168, 0.47);
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	background-color: #0000005c;
	padding: 50px 10px;
}

.videoWrapper {
	box-shadow: 0 10px 32px 2px #f0f8ff5c;
	border-radius: 10px;
	overflow: hidden;
}


@media screen and (max-width: 776px) {


	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		gap: 10px;
		background-color: #0000005c;
		padding: 50px 10px;
	}

	.about {
		max-width: 85%;

		.text {
			text-align: center;
			margin-bottom: 20px;
		}
	}


}