

.inner_wrapper {
	padding-top: 100px;
	padding-bottom: 100px;

	@media screen and (max-width: 767px) {
		padding-bottom: 40px;
	}

	.title {
		text-align: center;
		text-transform: uppercase;
		font-size: 48px;
		margin-bottom: 20px;
	}

	.subtitle {
		text-align: center;
		font-weight: 300;
		font-size: 18px;
		max-width: 600px;
		margin: 0 auto;
		margin-bottom: 60px;
		color: var(--primary-color-light);
	}

}