

.btn {
	position: fixed;
	z-index: 7;
	bottom: -50px;
	right: 50px;
	opacity: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: none;
	outline: none;
	background-color: var(--primary-color-light);
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
	color: var(--primary-text-color);
	transition: all var(--transition);

	&.active {
		bottom: 50px;
		opacity: 1;
	}

	&:hover,
	&:active {
		color: var(--secondary-text-color);
		background-color: var(--primary-text-color);
	}


	.icon {
		font-weight: 300;
		font-size: 42px;
	}
}